﻿@model QuotationWebCalculator.Models.QuotationCreateViewModel

@{
    string btnSubmitText = "Angebot erstellen";

    if (ViewData["BtnText"] != null && ViewData["BtnText"].ToString() != "")
    {
        btnSubmitText = ViewData["BtnText"].ToString();
    }
}

<span id="input-alert">@TempData["AlertData"]</span>

<form asp-action="CreateEditQuotation" method="post">
    <input type="hidden" asp-for="Quotation.PK_Quotation_ID">
    <input type="hidden" asp-for="Quotation.DateTimeCreation">
    <div class="container-max-width">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Kontaktdaten</h5>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Unternehmensdaten</label>
                                <input asp-for="Quotation.CompanyName" type="text" class="form-control" placeholder="Unternehmen" required>
                                <input asp-for="Quotation.Street" type="text" class="form-control input-data-margin" placeholder="Straße" required>
                                <input asp-for="Quotation.Postcode" type="text" class="form-control input-data-margin" placeholder="PLZ" required>
                                <input asp-for="Quotation.Location" type="text" class="form-control input-data-margin" placeholder="Ort" required>
                            </div>
                            <div class="col">
                                <label class="form-label">Daten Ansprechpartner</label>
                                <input asp-for="Quotation.LastName" type="text" class="form-control" placeholder="Nachname">
                                <input asp-for="Quotation.FirstName" type="text" class="form-control input-data-margin" placeholder="Vorname">
                                <input asp-for="Quotation.Email" type="email" class="form-control input-data-margin" placeholder="E-Mail Adresse" required>
                                <input asp-for="Quotation.TelephoneNumber" type="tel" class="form-control input-data-margin" placeholder="Telefon">
                            </div>
                            <div class="col-2">
                                <label class="form-label">Auftragsdatum</label>
                                <input asp-for="Quotation.DateQuotation" type="date" class="form-control" placeholder="Datum" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" id="card-clm">
                    <div class="card-body">
                        <h5 class="card-title">CLM-Angebot</h5>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Leistungspaket wählen</label>
                                <select asp-for="Quotation.FK_ServicePackage_ID" class="form-select" asp-items="Model.ServicePackages" required>
                                    <option>Bitte wählen</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Laufzeit</label>
                                <select asp-for="Quotation.FK_Duration_ID" class="form-select" asp-items="Model.Durations" required>
                                    <option>Bitte wählen</option>
                                </select>
                            </div>
                            <div class="col">
                                <label class="form-label">Patch-Managemet</label>
                                <div class="form-check">
                                    @Html.RadioButtonFor(Model => Model.Quotation.PatchManagement, true, htmlAttributes: new { @class = "form-check-input" })
                                    <label class="form-check-label">Ja</label>
                                </div>
                                <div class="form-check">
                                    @Html.RadioButtonFor(Model => Model.Quotation.PatchManagement, false, htmlAttributes: new { @class = "form-check-input" })
                                    <label class="form-check-label">Nein</label>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-label">Anzahl der Geräte</label>
                                <input asp-for="Quotation.NumberOfUnits" type="number" class="form-control" placeholder="Anzahl" required>
                            </div>
                        </div>
                        <div class="row row-margin">
                            <div class="col-10">
                                <textarea asp-for="Quotation.Info" class="form-control info-field" placeholder="Zusätzliche Informationen"></textarea>
                            </div>
                            <div class="col center-button">
                                <button type="submit" class="btn btn-primary">@btnSubmitText</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>