header {
  margin-bottom: 20px;
}

#card-clm {
  margin-top: 20px;
}

.input-data-margin {
  margin-top: 10px;
}

.row-margin {
  margin-top: 20px;
}

.info-field {
  height: 15rem;
}

.center-button {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

#input-alert {
  color: red;
}

.listitem-metadata {
  margin-right: 70px;
}

.listitem-badge {
  margin-left: 10px;
}

.listitem-center-vertical {
  margin-top: auto;
  margin-bottom: auto;
}